@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppings', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;    
}

.content {
    position: relative;
}

.content h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 14em;
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    /* 0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    } */

    0%, 100% {
        clip-path: polygon(0 61%, 11% 50%, 22% 43%, 35% 45%, 49% 54%, 63% 55%, 79% 49%, 89% 50%, 100% 54%, 100% 100%, 0 100%);
    }

    50% {
        clip-path: polygon(0 58%, 11% 52%, 25% 49%, 40% 58%, 54% 59%, 71% 51%, 83% 46%, 93% 45%, 100% 50%, 100% 100%, 0 100%);
    }
}